$Black: #000000;
$Silver: #c0c0c0;
$Gray: #808080;
$DarkGray: #a9a9a9;
$LightGray: #d3d3d3;
$BgGray: #e0e0e0;
$BgWhite: #f9f9f9;
$White: #ffffff;
$Maroon: #800000;
$Red01: #ff0000;
$Red02: #f44336;
$Red03: #ef5350;
$Red04: #ef9a9a;
$Red05: #ffcdd2;
$Purple: #800080;
$Fuchsia: #ff00ff;
$Green: #008000;
$Lime: #00ff00;
$Olive: #808000;
$Yellow: #ffff00;
$Navy: #000080;
$Blue: #0000ff;
$Teal: #008080;
$Aqua: #00ffff;
