section.banner {
  max-width: 100%;
  display: flex;
  overflow-x: hidden;

  margin: 2rem 10rem 0 5%;
  padding-right: 5rem;
}

div.banner__images {
  max-width: 100%;
  white-space: nowrap;
  animation: scrollBanner 20s linear infinite;
  gap: 2rem;
}

.banner img.banner__image {
  max-width: 15rem;
  aspect-ratio: 1 / 1;
}

@keyframes scrollBanner {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 1016px) {
  .banner img.banner__image {
    width: 10rem;
    aspect-ratio: 1 / 1;
    display: inline-block;
  }
}
