section.banner {
  display: flex;
  margin-top: 2rem;
  overflow-x: hidden;
}

ul.banner__images {
  display: flex;
  padding: 0;
  gap: 1rem;
  animation: scrollBanner 15s linear infinite;
}

.banner img.banner__image {
  max-width: 15rem;
  aspect-ratio: 1 / 1;
}

@keyframes scrollBanner {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 1016px) {
  .banner img.banner__image {
    display: inline-block;
    width: 10rem;
    aspect-ratio: 1 / 1;
  }
}
