header.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 10rem;
  background-color: #eeeeee;
}
header.header > div {
  display: flex;
  align-items: center;
  width: 33%;
  height: 100%;
}

div.header__title {
  justify-content: center;
}
div.header__title > h1 {
  font-size: 3rem;
}
div.header__right {
  justify-content: flex-end;
}
