section.study-section {
}

h2.study-section__title {
  font-size: 2rem;
}

div.study-section__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

article.study {
  width: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem 0;
  position: relative;
  background-color: white;
  border-radius: 3rem;
  transition: 1s box-shadow;
}

article.study:hover {
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  animation: heartbeat 2s ease-in-out infinite;
}

article.study .study__image {
  width: 22rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1rem;
}

article.study .study__title {
  font-size: 1.6rem;
  margin: 1rem 0;
}

article.study .study__part,
article.study .study__price {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

article.study .study__like {
  cursor: pointer;
  font-variation-settings: "FILL" 1;
}
article.study .study__like:hover {
  color: #ff9494;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}
