.table-container {
  width: 60%;
  max-height: calc(100vh - 40rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

.cart-table {
  width: 100%;
  height: 100%;
  gap: 0;
  border-collapse: collapse;
}

.cart-table__header {
  height: 4rem;
}

.cart-table__header th {
  font-size: 1.4rem;
  border-top: 3px solid #afc8ad;
  border-bottom: 1px solid #afc8ad;
  padding: 0;
}

.cart-table__header th:first-of-type input {
  width: 1.6rem;
  height: 1.6rem;
}

.cart-table__header th:last-of-type {
  width: 10rem;
}

.cart-table__body {
  width: 100%;
}

.cart-table td {
  height: 12rem;
  text-align: center;
  font-size: 1.4rem;
  padding: 2rem 0;
}

.cart-table__row .cart-table__checkbox input {
  width: 1.6rem;
  height: 1.6rem;
}

.cart-table__row .cart-table__image {
  width: 16rem;
}

.cart-table__row .cart-table__image img {
  height: 100%;
  aspect-ratio: 1 / 1;
}

.cart-table__row .cart-table__title {
  text-align: start;
}

.cart-table__row .cart-table__price {
}

.cart-table__row .cart-table__part {
}

.cart-table__row .cart-table__delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-table__row .cart-table__delete button {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
}

.cart-table__delete button:hover {
  background-color: var(--bg01);
  color: var(--Red01);
}
